* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    display: grid;
    
}

  
.container1 {
    background: linear-gradient(180deg, #FFFFFF 0%, #D9D9D9 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.con1 input{
    display: block; 
    margin: 0 auto; 
    text-align: center;
}
.foto-perfil {
    text-align: center;
    margin-top: 6.5rem;
}

.nome-Usuario {
    text-align: center;
    width: 380px;
    height: 54px;
    margin-top: 5.5rem;
    background: #FFFFFF;
    border-radius: 6px;
    margin-left: 45rem;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 100px;
    font-size: 20px;
    padding: 0.5rem;

}

.imagens {
    display: grid;
}

.salvos {
   

    text-align: center;
    margin-left: 45rem;
    margin-top: 7rem;

}

#salvo {


    margin-left: 45.5rem;
    margin-top: 1rem;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.calendario {
    text-align: center;
    margin-left: 64rem;
    margin-top: -7.4rem;
}

#calendario {
    margin-left: 62rem;
    margin-top: -1.5rem;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.direct {
    margin-left: 45rem;
    margin-top: 6.8rem;
}

#direct {
    margin-left: 42rem;
    margin-top: 1rem;
    padding-bottom: 10rem;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.container2 {
    background-color: gray;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.cont2{
    text-align: center;
}
.cont2 input{
    display: block; 
    margin: 0 auto; 
    text-align: center;
}

#barbearia {
    color: #FFFFFF;
    padding: 2rem 5rem;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.barbearia {
    width: 496px;
    height: 58px;
    margin-left: 42rem;

    background: #D9D9D9;
    border-radius: 25px;


}

#horarios {
    text-align: center;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 5rem;
}

.horarios {
    width: 486px;
    height: 210px;
    margin: 3rem 5rem;
    background: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-left: 42rem;
}

#servicos {
    text-align: center;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.servicos {
    width: 486px;
    height: 210px;
    margin: 3rem 5rem;
    background: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-left: 42rem;
}

#avaliacao {
    text-align: center;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}



@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
    }  
}

@media only screen and (max-width: 320px){
    body{
        font-size: 12px;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;  
    }
}